@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: rgb(240, 240, 240);
    background-color: #111111;
    font-family: 'Titillium Web', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 800px) 1fr;
    grid-template-rows: 100vh 500px 500px 500px 500px 500px;
    /* grid-template-areas: "." "center" "." ; */
}

.light-mode {
    width: 70px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30%;
    background-color: #f0f8ff;
}

#menu {
    background-color: #111111;
    width: 100vw;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 400px;
}

#menu ul {
    display: flex;
    justify-content: center;

    gap: 50px;
    list-style: none;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.container-inicio {
    display: grid;
    min-height: 100vh;
}

.inicio {
    height: 300px;
    align-self: center;
    justify-self: center;
}

.grid-section {
    grid-column: 2;
}

.inicio h1 {
    font-size: 4rem;
}

.flex-sobre {
    display: flex;
}
